/*Zielone przyciski*/
.button0.green {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  cursor: pointer; 
}
.button1.green {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer; 
}
.button1.green.top {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer; 
  vertical-align: top;
}
.button1.green.bottom {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer; 
  vertical-align: bottom;
}
.button2.green {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer; 
}
.button3.green {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 35px;
  text-align: center;
  font-size: 30px;
  cursor: pointer; 
}

/*Czerwone przyciski*/
.button0.red {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  cursor: pointer; 
}
.button1.red {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer; 
}
.button1.red.top {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer; 
  vertical-align: top;
}
.button1.red.bottom {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer; 
  vertical-align: bottom;
}
.button2.red {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer; 
}
.button3.red {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 25px 35px;
  text-align: center;
  font-size: 30px;
  cursor: pointer; 
}

/*Czarne przyciski*/
.button0.black {
  background-color: #555555;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  cursor: pointer; 
}
.button1.black {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer; 
}
.button1.black.top {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  vertical-align: top; 
}
.button1.black.bottom {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  vertical-align: bottom; 
}
.button2.black {
  background-color: #555555;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer; 
}
.button3.black {
  background-color: #555555;
  border: none;
  color: white;
  padding: 25px 35px;
  text-align: center;
  font-size: 30px;
  cursor: pointer; 
}

/*Niebieskie przyciski*/
.button0.blue {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  cursor: pointer; 
}
.button1.blue {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer; 
}
.button2.blue {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer; 
}
.button3.blue {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 25px 35px;
  text-align: center;
  font-size: 30px;
  cursor: pointer; 
}
