* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
}

body, html {
  height: 100%;
}

body {
  background-color: #303232;
  background-size: cover;
	margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.title {
  color: white;
  font-family: sans-serif;
  z-index: 5;
}

.songTitle {
  color: white;
  font-family: sans-serif;
  text-decoration: italic;
  position: fixed;
  bottom: 5px;
  right: 15px;
  font-size: 10px;
  background-color: rgb(63, 65, 63);
  opacity:0.3;
}
.buttons {
  display: block;
}
.back {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
}

.actions {
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px dotted #4bf562;
  
}

.Calc {
  display: block;
  width: 250px;
  background-color: #30323288;
  z-index: 1;
  border: 1px solid rgba(60, 209, 247, 0.5);
  resize: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.75;
  transition: 0.5s;
  text-decoration: none;
  
}
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  font-style: normal;
  transition: 0.1s;
  
}

.sidenav a:hover {
  color: #f1f1f1;

}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebar {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#openSidebar {
  opacity: 1;
  position: fixed; 
  left: 10px;
  font-size:30px;
  cursor:pointer; 
  color:white;
}

a {
  text-decoration: none;
}

#progresscontainer {
  width: 100%;
  border: 1px solid black;
  background-color: rgb(44, 43, 43);
  margin: 0;
}

#progressbar {
  width: 1%;
  height: 7.5px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  line-height: 30px;
  color: white;
  margin: 0;
  transition: width .1s linear;
}

.controlbuttons {
  color: white;
  text-align:center;
  margin: 0;
  font-size: 20px;
}
#content, .content {
  opacity: 1;
  min-width: 220px;
  min-height: 70px;
}

#song {
  border: 1px solid #303232;
  text-align:center;
}
#prev, #next {
  cursor:pointer;
}

#playpause {
  transition: transform 150ms ease-out;
}