* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: #303232;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: 0;
 	padding: 0;
}
.title {
  color: white;
  font-family: sans-serif;
  z-index: 5;
}

.tytulPiosenki {
  color: white;
  font-family: sans-serif;
  text-decoration: italic;
  position: fixed;
  bottom: 5px;
  right: 15px;
  font-size: 10px;
}
.buttons {
  display: block;
}
.back {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
}

.actions {
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px dotted #4bf562;
  
}

.Calc {
  display: block;
  width: 250px;
  background-color: #30323288;
  z-index: 1;
  border: 1px solid rgba(60, 209, 247, 0.5);
  resize: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 0.75;
  transition: 0.5s;
  text-decoration: none;
  
}
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  font-style: normal;
  transition: 0.1s;
  
}

.sidenav a:hover {
  color: #f1f1f1;

}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sidebar {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#openSideBar {
  opacity: 1;
  position: fixed; 
  left: 10px;
  font-size:30px;
  cursor:pointer; 
  color:white;
}

a {
  text-decoration: none;
}