/*Copyright © 2018 lukasz26671*/

/*CENTER*/
.center {  
  text-align: center;
}
.absolute-center {
    position: absolute;
    bottom: 10px;
    width: 50%;
    text-align: center;
}
.relative-center {
    position: relative;
    top: 10px;
    text-align: center;
}

/*LEFT*/
.left {  
  text-align: left;
}
.relative-left {
    position: relative;
    top: 10px;
    text-align: left;
}
.absolute-left {
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: left;
}

/*Headery typu right*/
.right {  
  text-align: right;
}

.relative-right {
    position: relative;
    top: 10px;
    text-align: right;
}
.absolute-right {
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: right;
}

/*BOTTOM*/
.bottom {  
  vertical-align: text-bottom;
}

/*TOP*/
.top {  
  vertical-align: text-top;
}
/**/
.absolute-left-30 {
	position: absolute;
	bottom: 10px;
	width: 30%;
	text-align:left;
}
